//- index.jade
doctype html
html
  head
      title=meme.title + " by Shudh Desi Memes"
      meta(property='og:title', content='#{meme.title}')
      meta(property="fb:app_id", content="1646291515639257")
      meta(property="article:author", content="https://www.facebook.com/shudhdesimeme")
      meta(property="article:publisher", content="https://www.facebook.com/shudhdesimeme")
      meta(property="description", content="Create memes from your favorite Indian celebrities and share them on the internet.")
      meta(property='og:image', content='#{picUrl}')
      meta(property='og:type', content='article')
      meta(property='og:url', content='#{pageUrl}')
      meta(property='og:site_name', content='Shudh Desi Memes')
      meta(name="twitter:card", content="summary_large_image")
      meta(name="twitter:site", content="@shudhdesimemes")
      meta(name="twitter:title", content='#{meme.title}')
      meta(name="twitter:description", content=" View meme at #{meme.shortenedLink}. View and create more #shudhdesimemes at shudhdesimemes.com")
      meta(name="twitter:image", content="#{picUrl}")
      
    style
      include style.css
      include ../assets/socialshare1.0.6/css/social-share-kit.css

  body
    div#fb-root
    script(src="../assets/socialshare1.0.6/js/social-share-kit.js")
    script(src="../assets/js/socialshare.js")
    div.header
      img.sdm-logo(src="../assets/img/sdm-logo.svg")
      div.header-link
        a.create-link(href='/create') Create meme
        a.browse-link(href='/memes') Browse
        hr
    div.memes-container.memeone
      h1 #{meme.title}
      h2.by-sdm by Shudh Desi Memes
      div.meme-holder
        img.meme-img(src = picUrl)
      div.ssk-group.ssk-sm(data-url=baseUrl+'memes/'+meme._id, data-text=meme.title)
        a.ssk.ssk-facebook.ssk-text(href="") Share on facebook
        a.ssk.ssk-twitter.ssk-text(href="", data-text="") Twitter
        a.ssk.ssk-google-plus.ssk-text(href="")
        a.ssk.ssk-email.ssk-text(href="")
        a.ssk.ssk-whatsapp.ssk-text(href="")
        a.ssk.ssk-download.ssk-text(href=picUrl, download)
      div.tag-list
        ul
          each tag in tags
            li
              a.tag-name.oblique(href=tag.link) #{tag.name}
      //- div#disqus_thread
      div.fb-comments(data-href=pageUrl, data-width="100%", data-numposts="5", data-colorcsheme)

    div#toptags.toptags
      span.bold-text Popular Tags
      ul
        each tag in toptags
          li
            a.oblique(href=tag.link) #{tag.name} (#{tag.usage})
        li
          a.bold-text(href='/memes') Browse all
        li
          a.bold-text(href='/create') Create your own
    div.footer
